html,
body {
  height: 100%;
  width: 100%;
  background-color: #9b857a;
}
* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  height: 100%;
  width: 100%;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
.div2 {
  height: 20%;
  width: 100%;
  text-align: center;
  clear: both;
  margin: 1rem auto;
}
.right {
  float: right;
  margin: 2rem;
}
.gmail-logo {
  height: 4rem;
  width: 5rem;
  float: left;
  margin: 1rem;
}
.header {
  height: 6rem;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #ececec;
}
.cares_image {
  width: 50%;
  height: 50%;
}
p {
  text-align: center;
  margin: 2rem;
  color: #848484;
}
.vacc_part {
  height: 12rem;
  width: 70%;
  margin: 4rem auto;
  background-color: rgba(216, 76, 85, 255);
}
.left_image {
  float: left;
  width: 40%;
  text-align: center;
  height: 12rem;
}
.redBus {
  height: 12rem;
  width: 60%;
}
.Right_content {
  float: right;
  width: 60%;
  height: 12rem;
  text-align: start;
}
.Right_para {
  text-align: start;
  color: #fed6d9;
  font-weight: bold;
  height: 12rem;
  width: 100%;
  margin-top: 2rem;
}
.footer {
  background-color: rgba(55, 55, 55, 255);
  height: 5rem;
  width: 100%;
  clear: both;
  color: #909090;
}
.left1 {
  float: left;
  margin: 2rem;
}
.right1 {
  float: right;
}
li {
  display: inline-block;
}
.images_footer {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
}
@media screen and (min-width: 0px) and (max-width: 1000px) {
  p {
    font-size: small;
  }
}
.Right_content {
  background-color: rgba(216, 76, 85, 255);

  margin-bottom: 1rem;
}
li {
  border: 1px solid rgb(83, 69, 69);
}
.it {
  border: 1px solid gray;
}
.todo-contant {
  text-align: center;
  background-color: #9b857a;
  margin: 10rem auto;
}
.input-todo {
  height: 2rem;
  width: 15rem;
  border-radius: 6px;
  margin: 2rem 1rem;
  border: none;
  padding-left: 10px;
}
.input-todo:hover {
  background-color: #ececec;
  border: none;
}
.btn-todo {
  border-radius: 8px;
  height: 2rem;
  width: 5rem;
  margin: 1rem;
  font-size: revert;
  background-color: #899b7a;
  border: 0;
  color: #ffffff;
}
.ListItem {
  display: flex;
  justify-content: center;
  width: 30%;
  margin: 2rem auto;
  background-color: #8f6e5e;
  border-radius: 20px;
}
.list_name {
  font-size: xx-large;
  color: aquamarine;
  margin: 0.5rem;
  font-size: x-large;
}
h1 {
  color: aquamarine;
}
