html,
body {
  height: 100%;
  width: 100%;
}
* {
  margin: 0px;
  padding: 0%;
  box-sizing: border-box;
}
.container {
  height: 100%;
  width: 100%;
  background-color: #ffffff;
  border: 1rem solid #c2c2c2;
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

button {
  font-size: calc(10px + 2vmin);
}
.div2 {
  height: 20%;
  width: 100%;
  text-align: center;
  clear: both;
  margin: 1rem auto;
}
.right {
  float: right;
  margin: 2rem;
}
.gmail-logo {
  height: 4rem;
  width: 5rem;
  float: left;
  margin: 1rem;
}
.header {
  height: 6rem;
  width: 100%;
  text-align: center;
  border-bottom: 2px solid #ececec;
}
.cares_image {
  width: 50%;
  height: 50%;
}
p {
  text-align: center;
  margin: 2rem;
  color: #848484;
}
.vacc_part {
  height: 10rem;
  width: 70%;
  margin: 4rem auto;
  background-color: rgba(216, 76, 85, 255);
}
.left_image {
  float: left;
  width: 40%;
  text-align: center;
}
.redBus {
  height: 10rem;
  width: 15.5rem;
}
.Right_content {
  float: right;
  width: 60%;
  height: 10rem;
}
.Right_para {
  text-align: start;
  color: #fed6d9;
  font-weight: bold;
}
.footer {
  background-color: rgba(55, 55, 55, 255);
  height: 5rem;
  width: 100%;
  clear: both;
  color: #909090;
}
.left1 {
  float: left;
  margin: 2rem;
}
.right1 {
  float: right;
}
li {
  display: inline-block;
}
.images_footer {
  height: 3rem;
  width: 3rem;
  margin: 1rem;
}
